__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

.env/
venv/
.venv/

.env
*.env
.env.*

.vscode/
.idea/
*.swp

__pycache__/
*.py[cod]
*$py.class

*.log

.DS_Store
Thumbs.db

dump.rdb

*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py

# Docker
*.pid
docker-compose.override.yml
**/Dockerfile~

# Alembic migration cached
**/alembic/versions/__pycache__/
**/alembic/versions/*.pyc
